apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy 
    orgId: 1
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    version: 1
    editable: false
  - access: proxy
    editable: false
    isDefault: true
    name: Prometheus
    type: prometheus
    url: http://prometheus:9090
    version: 1
